.teamSection {
  background: #f6f9fe;
  color: rgba(24, 50, 101, 1);
  padding: 100px 15px;
}
.teamSection h1 {
  color: rgba(24, 50, 101, 1);
  font-family: "Poppins-Bold";
  font-size: 40px;
  font-weight: 600;
  line-height: 69px;
  text-align: left;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.teamSection h2 {
  font-family: "Poppins-semiBold";
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}
.teamSection .desg {
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .teamSection {
    padding: 60px 15px;
  }
  .teamSection h2 {
    font-size: 28px;
  }
  .teamSection h1 {
    text-align: center;
  }
}
