.tabs__item--active {
  border-bottom-color: #67eae9;
  color: #67eae9;
}
.tabs {
  color: #fff;
  font-family: "poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.tabs__item {
  padding: 5px;
  margin-right: 10px;
  border-bottom: none;
}

.accord-holder {
  min-height: 400px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
