/* .aboutContainer {
  background: #f6f9fe !important;
  color: rgba(24, 50, 101, 1);
} */
.main-holder{
 /* background: url(../../static/img/sec1bg.png) no-repeat; */
 background: url("/static/img/abouttopbg.jpg") no-repeat;
 background-size:cover ;
 width: 100%;
 height: 100vh;
 position: relative;
}

.abt-b-txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
}
.abt-b-txt h1 {
  font-size: calc(
    30px + (50 - 30) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    32px + (52 - 32) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Bold";
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-bottom: 30px;
}

.abt-b-txt p {
  font-size: calc(
    16px + (22 - 16) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    18px + (22 - 18) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-size: 22px !important;
  line-height: 28px !important;
  max-width: 28em;
  width: 100%;
}
.desc-about {
  margin-bottom: 50px;
}
.wel-box{
padding: 4em 0;
}
.desc-about h1{
  color:#3FC3B6;
  font-size: calc(
    30px + (50 - 30) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    32px + (52 - 32) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Bold";
  font-weight: 700;
  margin-bottom: 30px;
}
.desc-about p {
  color:#fff;
  font-size: calc(
    24px + (70 - 24) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    30px + (78 - 30) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Regular";
  font-weight: 400;
}
.desc-about h3 {
  font-family: "Poppins-SemiBold";
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
}
.abt-pai{
  padding-bottom: 3em;
}
.bggreen{
  background: url("/static/img/aboutusbottom.jpg") no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 620px;
  display: block;
  background-size: cover;  
}
.bg-blk{  
  background: #000;
}
.txt-about{
  padding:20px 15px 0px 0;
}
.txt-about h1{  
  color:#3FC3B6;
  font-size: calc(
    30px + (50 - 30) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    32px + (52 - 32) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Bold";
  font-weight: 700;
  margin-bottom: 30px;
}
.txt-about p{
  color:#fff;
  font-size: calc(
    24px + (26 - 24) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    32px + (34 - 32) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-Regular";
  font-weight: 400;
  margin-bottom: 30px;
}  
@media only screen and (max-width: 576px) {
  .abt-b-txt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
  }
  .txt-about {
    padding: 20px 15px 0px;
}
.bggreen{
  height: 360px;
}
}
@media only screen and (min-width: 578px) and (max-width: 767.98px) {
  .abt-b-txt {
    left: 30%;
    transform: translate(-30%, -50%);
  }
  .txt-about {
    padding: 20px 15px 0px;
}
.bggreen{
  height: 360px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .abt-b-txt {
    left: 30%;
    transform: translate(-30%, -50%);
  }
  .txt-about {
    padding: 20px 15px 0px;
}
.bggreen{
  height: 360px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .abt-b-txt {
    left: 20%;
    transform: translate(-20%, -50%);
  }
  .txt-about {
    padding: 20px 15px 0px;
}
  .bggreen{
    min-height: 360px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499.99px) {
 
  .bggreen{
    min-height: 670px;
  }
}
/* @media only screen and (max-width: 576px) {
  .abt-holder {
    margin: 70px 0;
  }
  .abt-holder h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .thumbicon {
    margin-bottom: 30px;
  }
  .statbox {
    margin-bottom: 50px;
  }
  .statbox2 {
    width: 100%;
    text-align: center;
  }
  .statbox {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
}
@media only screen and (min-width: 578px) and (max-width: 767.98px) {
  .statbox {
    margin-bottom: 50px;
  }
} */
