.user-holder {
  padding: 50px 15px;
  background: rgb(40,82,106);
  background: linear-gradient(90deg, rgba(40,82,106,1) 0%, rgba(137,173,169,1) 36%, rgba(137,173,169,1) 73%, rgba(61,103,120,1) 100%);
}
.user-holder h1 {
  color: rgba(24, 50, 101, 1);
  font-family: "Poppins-Bold";
  font-size: 40px;
  font-weight: 600;
  line-height: 69px;
  text-align: left;
  margin: 70px 0 50px;
  text-transform: uppercase;
}
.user-holder h1 {
  font-family: "Poppins-Bold";

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #fff;
}
.logoContainer {
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 0 15px;
}
.logo-box{
  width: 154px;
  float: left;
  margin: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 575.98px) {
  .user-holder h1 {
    font-size: 36px;
  }
  .logoContainer {
    text-align: center;
  }
  .logo-box{
    width: 22%;
    margin: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .logo-box{
    width: 15%;
    margin: 15px 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .user-holder h1 {
    font-size: 36px;
  }
  .logoContainer {
    text-align: center;
  }
  .logo-box{
    width: 13%;
    margin: 15px 25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .logo-box{
    width: 11%;
  }
}
