.user-holder {
  background: #ffffff;
  padding: 50px 15px;
}
.user-holder h1 {
  color: rgba(24, 50, 101, 1);
  font-family: "Poppins-Bold";
  font-size: 40px;
  font-weight: 600;
  line-height: 69px;
  text-align: left;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.user-holder h1 {
  font-family: "Poppins-Bold";

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: rgba(15, 48, 113, 1);
}
.logoContainer {
  margin-bottom: 50px;
}
.logo-box{
  width: 158px;
  float: left;
  margin: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 575.98px) {
  .user-holder h1 {
    font-size: 36px;
  }
  .logoContainer {
    text-align: center;
  }
  .logo-box{
    width: 22%;
    margin: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .logo-box{
    width: 15%;
    margin: 15px 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .user-holder h1 {
    font-size: 36px;
  }
  .logoContainer {
    text-align: center;
  }
  .logo-box{
    width: 13%;
    margin: 15px 25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .logo-box{
    width: 11%;
  }
}
