.bg-sec-02 {
  background: url("/img/vision.jpg") center/cover no-repeat fixed;
  height: 100vh;
}
.m-top {
  margin-top: 30px;
}
.vision-holder {
  margin-bottom: 20px;
  padding: 25px;
  text-align: justify;
}
.vision-holder h1 {
  font-weight: 700;
  padding-left: 15px;
  font-size: calc(
    30px + (46 - 30) * ((100vw - 300px) / (1920 - 300))
  ) !important;
  line-height: calc(
    45px + (75 - 45) * ((100vw - 300px) / (1920 - 300))
  ) !important;
  font-family: "Poppins";
  position: relative;
  margin-bottom: 28px;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
}
.seagreen {
  color: #67eae9;
}
@media screen and (max-width: 575px) {
  .vision-holder {
    padding: 25px 10px;
  }
  .vision-holder h1 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1365.98px) {
  .vision-holder {
    margin-bottom: 20px !important;
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1599.98px) {
  .vision-holder {
    margin-bottom: 20px !important;
    padding: 15px 20px;
  }
}
