.c-holder {
  width: 100%;
  max-width: 78em;
  margin: 6px auto;
  text-align: left;
}
.slick-slider {
  background: rgb(6,18,32);
  background: linear-gradient(0deg, rgba(6,18,32,1) 0%, rgba(5,14,24,1) 100%);
  padding: 10px;
  cursor: pointer;
}
.c-holder h2 {
  font-family: "Poppins-SemiBold";
  font-size: calc(
    18px + (30 - 18) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    20px + (46 - 20) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .c-holder {
    width: 100%;
    max-width: 78em;
    margin: 0 auto 80px;
    min-width: 100%;
    overflow: hidden;
    padding: 0 35px;
    box-sizing: border-box;
  }
  .slick-slide div {
    text-align: center !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .c-holder {
    max-width: 43em;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .c-holder {
    max-width: 56em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .c-holder {
    max-width: 59em;
    margin-bottom: 30px;
  }
}