.job-holder{
    background: url("/static/img/career_bg.jpg") no-repeat;
    background-size:cover ;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding:9em 0 4em;
   }
   .new-jbox{
    padding: 4em 0px;
  }
  .jb-title h1{
    color:#fff;
    font-size: calc(
      30px + (50 - 30) * ((100vw - 300px) / (3500 - 300))
    ) !important;
    line-height: calc(
      32px + (52 - 32) * ((100vw - 300px) / (3500 - 300))
    ) !important;
    font-family: "Poppins-Bold",sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .new-jbox .desc-area {
    background: #fff;
    padding: 15px;
    border-top: 15px solid #3fc3b6;
  }
  .new-jbox .desc-area h1{
    font-size: calc( 20px + (24 - 20) * ((100vw - 300px) / (3500 - 300)) ) !important;
    line-height: calc( 28px + (36 - 28) * ((100vw - 300px) / (3500 - 300)) ) !important;
    color: #3b8a8d;
    margin-bottom: 10px;
  }
  .new-jbox .desc-jb{
    min-height: 150px;
  }
  .new-jbox .desc-jb p{
    display: block;
    color: #000;
    font-family: "poppins-Regular",sans-serif;
    margin-bottom: 15px;
  }
  .new-jbox .desc-jb .txt-bld{
    color:#000;
    font-family: "poppins-Bold",sans-serif;
  }
  .desc-jb .btnmore,.desc-jb .btnmore:active,.desc-jb .btnmore:hover{
    color:#366cc5;
    background: transparent;
    border:none;
    font-size: 15px;
  }
  .desc-jb .btnmore:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  @media only screen and (max-width:1024.98px) {
    .new-jbox .desc-area {
        margin-bottom: 15px !important;
      }
  }