.gif-sec {
  padding: 3.5em 0 13em 0;
}
.feature-holder {
  color: #000;
  padding: 100px 85px 70px;
  text-align: justify;
  background: #fff;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.nline::before {
  content: "\a";
  white-space: pre;
}
.desc-feat .section {
  padding: 52px 100px 0 15px;
}
.desc-feat .controlSlide {
  background: url("/static/img/circles/circles-default.png") no-repeat;
  width: 76px;
  height: 14px;
  margin: 30px auto 40px;
  padding: 0px 100px 0px 0px;
}

.desc-feat .slide1 {
  background: url("/static/img/circles/circles1.png") no-repeat !important;
}
.desc-feat .slide2 {
  background: url("/static/img/circles/circles2.png") no-repeat !important;
}
.desc-feat .slide3 {
  background: url("/static/img/circles/circles3.png") no-repeat !important;
}
.desc-feat .slide4 {
  background: url("/static/img/circles/circles4.png") no-repeat !important;
}
.desc-feat h4 {
  font-size: 22px;
  line-height: 24px;
  font-family: "Poppins";
}
.feature-holder:before {
  content: "";
  background: url("/static/img/bg-lines/slice3.png") no-repeat;
  width: 480px;
  height: 270px;
  position: absolute;
  top: -270px;
  right: 0px;
  z-index: -1;
  opacity: 0.4;
}
.feature-holder h3 {
  color: #263238;
  font-weight: 700;
  font-size: calc(
    25px + (60 - 25) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    28px + (90 - 28) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins-SemiBold";
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}
.feature-holder p {
  font-weight: 300;
  font-size: calc(
    14px + (16 - 14) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  line-height: calc(
    22px + (30 - 22) * ((100vw - 300px) / (3500 - 300))
  ) !important;
  font-family: "Poppins";
  margin-bottom: 0px;
  min-height: 170px;
}
.imgDiv {
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-position: 50% top;
}

.bg-icon {
  background: url("/static/img/carousel-img/bg-icon.png") no-repeat;
  background-position: 0% 50%;
  position: relative;
  width: 283px;
  height: 220px;
  margin: 0 auto;
}
.bg-p {
  background: url("/static/img/carousel-img/Polygon.png") no-repeat;
  background-position: 50% 0;
  position: relative;
  height: 230px;
  width: 100%;
}
.imgDiv {
  background: url("/static/img/carousel-img/ICA-icon-01.png") no-repeat;
  animation: delayanimation 4s infinite ease-in-out;
  transform-origin: center center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 51px;
  left: 90px;
}
.image1 {
  background: url("/static/img/carousel-img/IAC-01.png") no-repeat;
  width: 275px;
  height: 225px;
  animation: spin 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
.imgDiv2 {
  background: url("/static/img/carousel-img/CC-icon-02.png") no-repeat;
  animation: delayanimation 4s infinite ease-in-out;

  transform-origin: center center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 51px;
  left: 90px;
}
.image2 {
  background: url("/static/img/carousel-img/CC-02.png") no-repeat;
  width: 275px;
  height: 225px;
  animation: spin 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
.imgDiv3 {
  background: url("/static/img/carousel-img/CS-icon-03.png") no-repeat;
  animation: delayanimation 4s infinite ease-in-out;
  transform-origin: center center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 51px;
  left: 90px;
}
.image3 {
  background: url("/static/img/carousel-img/CS-03.png") no-repeat;
  width: 275px;
  height: 225px;
  animation: spin 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
.imgDiv4 {
  background: url("/static/img/carousel-img/CO-icon-04.png") no-repeat;
  animation: delayanimation 4s infinite ease-in-out;

  transform-origin: center center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 51px;
  left: 90px;
}
.image4 {
  background: url("/static/img/carousel-img/CO-04.png") no-repeat;
  width: 275px;
  height: 225px;
  animation: spin 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
@keyframes delayanimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* feature.css */
.blurtxt {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@media screen and (max-width: 575.98px) {
  .gif-sec {
    padding: 0 !important;
  }
  .feature-holder {
    padding: 30px 12px !important;
  }
  .feature-holder:before {
    display: none;
  }
  .nline::before {
    content: "";
    white-space: pre;
  }
  .plan-box:before {
    display: none;
  }
  .plan-box .form-area {
    width: 100% !important;
  }
  .plnfld {
    margin-bottom: 50px;
  }
  .plan-box .form-area:after {
    display: none !important;
  }
  .plan-box:after {
    display: none;
  }
  .desc-feat {
    margin-bottom: 50px;
  }
  .desc-feat h4 {
    font-size: 19px;
  }
  .imgDiv {
    width: 250px;
    margin: 0 auto;
  }
  .desc-feat .section {
    padding: 52px 0px 0;
    margin-bottom: 50px;
  }
  .feature-holder p {
    min-height: 280px !important;
  }
  .padding-horiz--md {
    padding: 0 !important;
  }
  .bg-p {
    background-position: 50% 0;
  }
  .bg-icon {
    width: 235px;
  }
  .imgDiv {
    width: 110px;
    left: 70px !important;
  }
  .imgDiv2 {
    top: 60px;
    left: 64px;
  }
  .imgDiv3 {
    top: 55px;
    left: 73px;
  }
  .imgDiv4 {
    top: 55px;
    left: 70px;
  }
  .image1,
  .image2,
  .image3,
  .image4 {
    width: 245px;
  }
  .desc-feat .controlSlide {
    margin: 30px auto 80px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .gif-sec {
    padding: 52px 0 70px 0;
  }
  .feature-holder {
    padding: 20px 20px 50px;
  }
  .feature-holder:before {
    display: none;
  }
  .feature-holder p {
    min-height: 270px;
  }
  .nline::before {
    content: "";
    white-space: pre;
  }
  .desc-feat .section {
    padding: 28px 0px 0;
  }

  .imgDiv {
    width: 290px;
    margin: 0 auto;
  }
  .pri-sec {
    padding-top: 20px !important;
  }
  .plan-box:before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .feature-holder {
    padding: 20px 20px 50px;
  }
  .imgDiv {
    width: 290px;
    margin: 0 auto;
  }
  .gif-sec {
    padding-bottom: 6em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023.98px) {
  .imgDiv {
    width: 290px;
    margin: 0 auto;
  }
  .gif-sec {
    padding-bottom: 6em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199.98px) {
  .feature-holder p {
    min-height: 200px;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 3500px) {
  .feature-holder p {
    min-height: 200px !important;
  }
}
