
  .social-icons{
    margin-top: 10px;
  }
  .site-footer {
    background-color: #1c2337;
    color: #fff;
    padding:80px;
  }
  .m-bottom{
    margin-bottom: 20px;
  }
  /* .footer-btn{
    background:#ed164f;
    color: #fff;
    border-radius: 20px;
    font-family: "poppins";
    float: left;
  }
  .footer-btn:hover{
    background:#fff  !important;
    color: #ed164f;
  } */
  .site-footer .f-link{
    text-align: right;
  }
  .site-footer .link-holder{
    overflow: hidden;
    width: 100%;    
    border-bottom: 1px solid #fff;
  }
  .footer-logo{
    display: inline-block;
  }
  .footer-logo a,  .footer-logo a:hover,   .footer-logo a:focus{
    outline: none;
    margin: 0;
  }
  .copy-txt{
    float:right;
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media screen and (max-width:575px) {
  
    .site-footer {
      padding: 50px 15px;
   }
   .footer-logo{
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
   .site-footer .f-link {
      text-align: center;
      margin-bottom: 15px;
  }
  .copy-txt {
    font-size: 14px;
    float: none;
    text-align: center;
  }
  
}
@media  only screen and (min-width:576px) and (max-width:996.98px){
  .social-icons {
    margin-top: 0;
    margin-bottom: 10px;
}
 .footer-logo{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .site-footer .f-link {
    text-align: center;
    /* margin-bottom: 15px; */
  }
  .copy-txt {
    font-size: 14px;
    float: none;
    text-align: center;
  }

}

@media only screen and (min-width:997px) and (max-width:1599.98px){
  /* footer-logo{

  } */
  /* .site-footer .f-link{
    margin-bottom: 0;
  } */
}