.paper-holder{
    background: url("/static/img/papers_bg.jpg") no-repeat;
    background-size:cover ;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding:9em 0 4em;
   }
   .paper-box{
    padding: 4em 0px;
  }
  .jb-title h1{
    color:#fff;
    font-size: calc(
      30px + (50 - 30) * ((100vw - 300px) / (3500 - 300))
    ) !important;
    line-height: calc(
      32px + (52 - 32) * ((100vw - 300px) / (3500 - 300))
    ) !important;
    font-family: "Poppins-Bold",sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .paper-box .desc-area {
    padding: 20px 25px;
    margin-bottom: 50px;
    background: #020816 !important;
  }
  .paper-box .desc-area .paper-title{
    text-align: center;
    margin-bottom: 20px;
  }
  .paper-box .desc-area p {
     display: block;
     font-size: 18px !important;
     line-height: 26px !important;
  }
  .paper-box .desc-area .paper-desc h4{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
  }
  .paper-box .desc-area .paper-desc p{
    font-family: "Poppins", sans-serif;
    
    margin-bottom: 30px;
  }
  .paper-box .desc-area h1{
    font-size: calc( 20px + (26 - 20) * ((100vw - 300px) / (3500 - 300)) ) !important;
    line-height: calc( 28px + (38 - 28) * ((100vw - 300px) / (3500 - 300)) ) !important;
    color: #3b8a8d;
    margin-bottom: 10px;
  }
   .conf-bg{
    background: url("/static/img/report_picture.jpg") no-repeat 50% 0;
    background-size: contain;
    width: 100%;
    min-height: 300px;
    margin: 30px 0;
   }
   .dwn-btn{
    text-align: center;
    margin-bottom: 10px;
   }
   .dwn-btn .btn-more{
    min-width: 140px;
    color: #3b8a8d;
    border: 1px solid  #3b8a8d;
   }
   .dwn-btn .btn-more:hover{
    color: #fff;
    border-color: #fff;
   }
   .pForm{
    background: #fff;
    max-width: 60em;
    width: 100%;
    min-height: 300px;
    padding: 60px 45px 20px;
    color: #000;
    position: relative;
    border-radius: 20px;
   }
  @media only screen and (max-width:575.98px) {
    .paper-box .desc-area p{
        margin-bottom: 15px;
    }
    .conf-bg{
        min-height: 120px;
    }
    .pForm{
        padding:40px 15px 20px;
        max-width: 18em;
    }
  }
  @media only screen and (min-width:576px) and (max-width:767.98px) {
    .paper-box .desc-area p{
        margin-bottom: 15px;
    }
    .conf-bg{
        min-height: 120px;
    }
    .pForm{
        padding:40px 15px 20px;
        max-width: 35em;
    }
  }